@charset "UTF-8";

header{
    background-color: green;
    width: 1000px;
    height: 100px;
}

#mihana{
     background-color: blue;
     width:330px;
     height:400px;
     float: left;
 }
 
 #erika{
     background-color: black;
     width:330px;
     height:400px;
     float: left;
     
 }
 
 #miyu{
     background-color: yellow;
     width:330px;
     height:400px;
     float: left;
 }
 footer{
     background-color: pink;
     width:1000px;
     height:100px;
 }

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}